<section class="function-button">
	<div class="function">
		<p class="btn"><%= link_to "再設定", "/static_pages/setting" %></p>
		<p class="btn" id="shaffle-button" ontouchstart="">シャッフル</p>
		<p class="btn" id="save-button"><a href="#">保存</a></p>
	</div>
</section>
<section id="class-room">
	<div class="blackboard"></div>
	<div class="teacher-desk">
		<p>教卓</p>
	</div>
	<div class="student-desks">
	<% flag = true %>
		<% @students.each_with_index do |student, i| %>
			<%# <table>生成 %>
			<% if i % @table_line_standard_num == 0 %>
			<table>
			<% end %>

				<%# <tr>生成 %>
				<% if flag %>
					<% if i % 2 == 0 %>
					<tr>
					<% end %>
				<% else %>
					<% if i % 2 == 1 %>
					<tr>
					<% end %>
				<% end %>

					<%# <td>生成 %>
					<td><%= link_to student.last_name, student, id: i , style: gender_color(student.sex) %></td>

				<%# </tr>生成 %>
				<% if flag %>
					<% if i % 2 == 1 %>
					</tr>
					<% end %>
				<% else %>
					<% if i % 2 == 0 %>
					</tr>
					<% end %>
				<% end %>

			<%# </table>タグ生成 %>
			<% if i % @table_line_standard_num == @table_line_standard_num - 1 %>
				<%# </tr>生成 %>
				<% if i % 2 == 0 && flag %>
				</tr>
				<% flag = false %>
				<% elsif i % 2 == 1 && !flag %>
				</tr>
				<% flag = true %>
				<% end %>

			</table>
			<% end %>

		<% end %>
		<%# end %>
	</div>
</section>

<%= javascript_pack_tag 'main/main' %>