<header>
	<h1>Let's Shaffle!</h1>
	<nav>
		<ul>
			<li><a href="#">生徒登録</a></li>
			<li><a href="#">生徒一覧</a></li>
			<li><a href="#">ログアウト</a></li>
		</ul>
	</nav>
</header>

<main>
	<section class="function_button">
		<select name="class-number" >
			<option value="3-1">3-1</option>
			<option value="3-2">3-2</option>
			<option value="3-3">3-3</option>
		</select>
		<div class="btn">
			<p>シャッフル</p>
			<p>保存</p>
		</div>
	</section>
	<section id="class-room">
		<div class="blackboard"></div>
		<div><p>教卓</p></div>
		<div class="student-desks">
			<table>
				<tr>
					<td>1</td>
					<td>2</td>
				</tr>
				<tr>
					<td>3</td>
					<td>4</td>
				</tr>
				<tr>
					<td>5</td>
					<td>6</td>
				</tr>
				<tr>
					<td>7</td>
					<td>8</td>
				</tr>
				<tr>
					<td>9</td>
					<td>10</td>
				</tr>
				<tr>
					<td>11</td>
					<td>12</td>
				</tr>
			</table>
			<table>
				<tr>
					<td>1</td>
					<td>2</td>
				</tr>
				<tr>
					<td>3</td>
					<td>4</td>
				</tr>
				<tr>
					<td>5</td>
					<td>6</td>
				</tr>
				<tr>
					<td>7</td>
					<td>8</td>
				</tr>
				<tr>
					<td>9</td>
					<td>10</td>
				</tr>
				<tr>
					<td>11</td>
					<td>12</td>
				</tr>
			</table>
			<table>
				<tr>
					<td>1</td>
					<td>2</td>
				</tr>
				<tr>
					<td>3</td>
					<td>4</td>
				</tr>
				<tr>
					<td>5</td>
					<td>6</td>
				</tr>
				<tr>
					<td>7</td>
					<td>8</td>
				</tr>
				<tr>
					<td>9</td>
					<td>10</td>
				</tr>
				<tr>
					<td>11</td>
					<td>12</td>
				</tr>
			</table>
		</div>
	</section>
</main>