<section class="function-button">
	<div class="function">
		<select name="class-number">
			<option value="3-1">3-1</option>
			<option value="3-2">3-2</option>
			<option value="3-3">3-3</option>
		</select>
		<p class="btn"><a href="#">シャッフル</a></p>
		<p class="btn"><a href="#">保存</a></p>
	</div>
</section>
<section id="class-room">
	<div class="blackboard"></div>
	<div class="teacher-desk">
		<p>教卓</p>
	</div>
	<div class="student-desks">
		<table>
			<tr>
				<td><a href="#">生徒1</a></td>
				<td><a href="#">生徒2</a></td>
			</tr>
			<tr>
				<td><a href="#">生徒3</a></td>
				<td><a href="#">生徒4</a></td>
			</tr>
			<tr>
				<td><a href="#">生徒5</a></td>
				<td><a href="#">生徒6</a></td>
			</tr>
			<tr>
				<td><a href="#">生徒7</a></td>
				<td><a href="#">生徒8</a></td>
			</tr>
			<tr>
				<td><a href="#">生徒9</a></td>
				<td><a href="#">生徒10</a></td>
			</tr>
			<tr>
				<td><a href="#">生徒11</a></td>
				<td><a href="#">生徒12</a></td>
			</tr>
		</table>
		<table>
			<tr>
				<td><a href="#">生徒1</a></td>
				<td><a href="#">生徒2</a></td>
			</tr>
			<tr>
				<td><a href="#">生徒3</a></td>
				<td><a href="#">生徒4</a></td>
			</tr>
			<tr>
				<td><a href="#">生徒5</a></td>
				<td><a href="#">生徒6</a></td>
			</tr>
			<tr>
				<td><a href="#">生徒7</a></td>
				<td><a href="#">生徒8</a></td>
			</tr>
			<tr>
				<td><a href="#">生徒9</a></td>
				<td><a href="#">生徒10</a></td>
			</tr>
			<tr>
				<td><a href="#">生徒11</a></td>
				<td><a href="#">生徒12</a></td>
			</tr>
		</table>
		<table>
			<tr>
				<td><a href="#">生徒1</a></td>
				<td><a href="#">生徒2</a></td>
			</tr>
			<tr>
				<td><a href="#">生徒3</a></td>
				<td><a href="#">生徒4</a></td>
			</tr>
			<tr>
				<td><a href="#">生徒5</a></td>
				<td><a href="#">生徒6</a></td>
			</tr>
			<tr>
				<td><a href="#">生徒7</a></td>
				<td><a href="#">生徒8</a></td>
			</tr>
			<tr>
				<td><a href="#">生徒9</a></td>
				<td><a href="#">生徒10</a></td>
			</tr>
			<tr>
				<td><a href="#">生徒11</a></td>
				<td><a href="#">生徒12</a></td>
			</tr>
		</table>
	</div>
</section>