<h1>生徒一覧</h1>

<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">出席番号</th>
				<th scope="col">クラス</th>
				<th scope="col">氏名</th>
				<th scope="col">性別</th>
			</tr>
		</thead>
		<tbody>
			<% @students.each do |student| %>
			<tr>
				<th scope="row"><%= student.attendance_number %></th>
				<td><%= "#{student.school_year} - #{student.class_num}" %></td>
				<td><%= link_to "#{student.last_name} #{student.first_name}", student, class:"student-name" %></td>
				<td><%= student.sex %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>